<div class="transparent-yellow">

    <div class="transparent-yellow-2">
        <div class="container">
            <div class="row">
                <div class="container my-h1 big-text">
                    <center><h1 class="my-header grey-transparent-header">404! Uh oh!</h1></center>
                </div>
            </div>
            <div class="row">
                Something went wrong and the page you were trying access doesn't exist. You can use the nav bar to visit a valid page!
            </div> <!--row-->
        </div> <!--container -->
    </div>
</div>