<div class="transparent-yellow">

    <div class="transparent-yellow-2">
        <div class="container">
            <div class="row">
                <div class="container my-h1 big-text">
                    <center><h1 class="my-header grey-transparent-header">JavaScript toys</h1></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">In the future, this page will be a growing collection of JavaScript/HTML5 apps that I've written. Some will be utilitarian tools (a tool to track what timezones the workers in a distributed team are in, for example), and some will just be fun toys that you would never actually use in a production environment (a neural net distributed across a number of NodeJS servers). For now, I'll include a few links to some of my favorite apps.
                </div>
                <div class="col-md-4">
                    <a href="http://synaptic.juancazala.com/#/">Synaptic - a NodeJS Neural Network</a><br/>
                    <a href="http://andrew-hoyer.com/experiments/cloth/">Cloth Experiment</a><br/>
                    <a href="http://zenphoton.com/">Zen Photon Garden</a><br/>
                    <a href="http://codepen.io/eltonkamami/pen/ECrKd">Particles</a><br/>
                </div>
            </div> <!--row-->
        </div> <!--container -->
    </div>
</div>