<div class="row" >
    <div class="container">

        <div class="jumbotron transparent cover fira-font top-buffer">
            <div class=""><img class="center-block center-image" src="assets/images/CosmicCowFinalTransparent400.png"/>
                <br/>
                    <h1 class="my-header yellow-header squish centered">Colin W. Kirk</h1>
                    <h2 class="my-header white-header squish centered">Software Engineer</h2>
            </div>
        </div>
    </div>
</div>
<div class="transparent-yellow">

    <div class="transparent-yellow-2">
        <div class="container">
            <div class="row">
                <div class="container my-h1 big-text">
                    <h1 class="my-header grey-transparent-header centered">About Me</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"><img src="assets/images/colinwkirk.jpg" class="center-image"/></div>
                <div class="col-sm-8"><p>I am a jack-of-all-trades software engineer. Give me any problem, in any language or stack, and I will work out a solution.</p>
                    <p>I started out working primarily with Java, C/C++, and Python. Throughout my years of experience I have also learned JavaScript/TypeScript (especially Node/Express and Angular), Groovy, Gosu, BASH, and even some Lisp, in environments ranging from embedded systems shops within the Department of Defense using Waterfall/Spiral SDLCs to Agile SaaS shops; I will continue to learn more languages and technologies as they are needed.</p>
                    <p>I've also filled a lot of different roles. I'm the truest of full-stack developers: I've been a systems/network administrator, QA engineer, backend engineer, integration developer, and I've done some front end/GUI work.</p>
                    <p>No matter what the problem is, I will not only solve the problem but will always find the best solution that will ensure optimization and increased process speed.</p>
                    <p>I have a unique personal history, as well. My first bachelor's degree is in art (with an emphasis in art history) with a fair amount of graphic design experience. I earned a second bachelor's degree in Aerospace Engineering with a minor in Computer Science, which led me to my current career (and yes, I do love Kerbal Space Program). I've been a lifelong <a href="https://www.youtube.com/user/cosmiccowck">musician and songwriter</a>. I'm also a husband and proud father of two beautiful children, cyclist, martial artist, and gamer with a strong desire to travel with my family and see the world. </p>
                    <p>If you wish to contact me, whether it's to tell me about a career opportunity, expand your professional network, talk about music, or make suggestions (or report bugs) about this website, please use the link in the tool bar.</p>
                    <p>Thank you very much for visiting!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container spacer"></div>

    <div class="transparent-yellow-2">
        <div class="container">

            <div class="container my-h1 big-text">
                <center><h1 class="my-header grey-transparent-header">What's with the cow?</h1></center></div>
            <div class="row">

                <div class="col-md-8">
                  <p>“Cosmic Cow” is the name of the cartoon drawn by the main character, Henry, in the 1980’s sitcom <a href="https://en.wikipedia.org/wiki/Too_Close_for_Comfort">"Too Close For Comfort"</a>. I have no lasting memory of the show but Cosmic Cow has been my go-to username for all things internet since the days of dial-up when I would log into BBS’s and play “Legend of Red Dragon” and “Trade Wars.”</p>
                  <p>I’ve been doodling it for years and I recently decided to do put my graphic design skills to work and made it my logo!</p>
                </div>
                <div class="col-md-4"><img src="assets/images/CosmicCowFinalTransparent400.png" class="reduced-size-image center-image"/></div>
            </div>
        </div>
    </div>
    <div class="container spacer"></div>
    <div class="transparent-yellow-2">
        <div class="container">
            <div class="container my-h1 big-text">
                <center><h1 class="my-header grey-transparent-header">About this site</h1></center></div>
            <div class="row">
                <div class="col-md-12">
                    <p>This site was built using Angular2, using NodeJS with Express for microservices. It is hosted on Amazon Web Services. The source code is available on <a href="https://github.com/colinwkirk/colinwkirk-site">GitHub</a>.</p>
                    <p>The underlying code is intentionally more complex than necessary to serve as examples of some of Angular2's capabilities.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"><img src="assets/images/nodejs-new-pantone-black.png" class="icons" align="left"/></div>
                <div class="col-md-4"><img src="assets/images/AmazonWebservices_Logo.svg.png" class="icons" align="middle"/></div>
                <div class="col-md-4"><img src="assets/images/AngularJS-Shield-medium.png" class="icons" align="right"/></div>
            </div>
        </div>
    </div>
</div>
