<div class="navbar-bottom navbar navbar-inverse" role="navigation">
    <p>
        <a [routerLink]="['/']">Home</a> |  <a [routerLink]="['/resume']">Résumé</a> |
        <a [routerLink]="['/js-toys']">JS Apps</a> | <a [routerLink]="['/contact']">Contact Me</a>
    </p>
    <p >This site and its code are provided under the ISC license; you are free to use any of the code located on <a href="https://github.com/colinwkirk/colinwkirk-site">GitHub</a> with no promises or guarantees.<br/>
    The background image is the Carina Nebula, photographed by the Hubble Telescope, and available on <a href="http://hubblesite.org/newscenter/archive/releases/2010/13/image/a/">HubbleSite.org</a>.<br/>
    &copy; 2016 Colin W. Kirk </p>
</div>