<div class="navbar navbar-fixed-top" role="navigation">

    <!--<nav role="navigation" class="navbar navbar-inverse"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a [routerLink]="['/']" class="navbar-brand"><img src="assets/images/CosmicCowFinalTransparentIcon.png"></a>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/']">About Me</a></li>
            <li><a [routerLink]="['/resume']">Résumé</a></li>
            <li><a [routerLink]="['/js-toys']">JS Apps</a></li>
            <li><a (click)="openModal()">Contact</a></li>
        </ul>
    </div>

</div>
