<div class="transparent-yellow top-buffer">
    <div class="transparent-yellow-2">
        <div class="container">
            <div class="row">
                <div class="container my-h1 big-text">
                    <center><h1 class="my-header grey-transparent-header">Contact me</h1></center>
                </div>
            </div>
            <div class="row">
                <p>I can be contacted via email at <a href="mailto:colin@colinwkirk.com?Subject=Contact via your website" target="_top">colin@colinwkirk.com</a> or via the contact form linked in the menu bar.</p>
                <p>I can be contacted at 405-928-3147.</p>
            </div>
        </div>
    </div>
</div>
